.graphItem {
  display: flex;
  gap: 5px;

  @include onMobile {
    flex-direction: column-reverse;
    width: 24%;
    gap: 0;
    align-content: baseline;
  }

  &__info {
    width: 170px;
    display: flex;
    justify-content: space-between;

    @include onMobile {
      flex-direction: column;
      width: 100%;
    }
  }

  &__txtBlock {
    @include onMobile {
      flex-direction: column;
      align-items: flex-end;
      height: 70px;
    }
  }

  &__title {
    margin: 0 0 5px 0;
    align-self: center;

    @include onMobile {
      font-size: 14px;
    }
  }

  &__radio {
    @include onMobile {
      width: 90%;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  &__line {
    border: 2px solid rgb(0, 0, 0);
    height: 50px;
    width: 400px;

    @include onMobile {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 200px;
    }
  }

  &__color {
    width: 100%;
    height: 100%;
  }

  &__sum {
    font-size: 24px;
    margin-left: 20px;
    color: teal;
    align-self: center;

    @include onMobile {
      margin-left: 0;
      transform: translateY(200%);
      font-size: 18px;
    }
  }
}