@import '../../mixins.scss';

.radioInput {
  display: flex;
    justify-content: space-between;
    align-items: center;
    
  @include onMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    @include onMobile {
      font-size: 12px;
    }

    &__input {
      margin: 0;
    }
  }
}